<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<!-- Actual content here -->
		<div style="display: table">
			<div style="display: table-row" dojoAttachPoint="basicSection">
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<a href="javascript:"  dojoAttachPoint="existingDirectoryLink">Choose existing directory</a>
				</div>
			</div>
			<div style="display: none" dojoAttachPoint="existingProjectSection">
				<div style="display: table-cell; padding: 5; min-width: 100px">
					<label dojoAttachPoint="gitPathLabel" for="${id}_gitPath" style="padding-right: 10">${gitPathLabelText}</label>
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: left;">
					<input dojoAttachPoint="gitPath" id="${id}_gitPath" type="hidden" value="">
					<span dojoAttachPoint="shownGitPath"></span>
				</div>
			</div>
			<div style="display: none" dojoAttachPoint="existingProjectSection_1">
				<div style="display: table-cell; padding: 5">
					&nbsp;
				</div>
				<div style="display: table-cell; padding: 5; width: 40em; text-align: right;">
					<a href="javascript:" dojoAttachPoint="openDirectoryPickerLink" style="margin-right: 0.5em">Change directory</a>
				</div>
			</div>
			<div style="display: table-row">
				<div style="display: table-cell; padding: 5"></div>
				<div style="display: table-cell; padding: 5">
					<button dojoAttachPoint="cloneItemButton" dojoType="dijit.form.Button" type="submit" value="OK" style="padding: 20 0 10 0; float: right; clear: both;">OK
					</button>
				</div>
			</div>
		</div>
	</div>
</div>